{
  "extends": "standard",
  "plugins": [
    "standard",
    "mocha",
    "promise"
  ],
  "rules": {
    "mocha/no-exclusive-tests": "error"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
