<?xml version="1.0" encoding="UTF-8"?>
<!--
The MIT License (MIT)

Copyright (c) 2013-2015 Jean-Christophe Hoelt

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cc.fovea.cordova.openwith"
    version="2.0.0">

    <name>OpenWith</name>
	<description>Cordova "Open With" plugin for iOS and Android</description>
    <engines>
        <engine name="cordova" version=">=6.0.0" />
    </engines>
    <repo>https://github.com/j3k0/cordova-plugin-openwith.git</repo>
    <issue>https://github.com/j3k0/cordova-plugin-openwith/issues</issue>

	<license>MIT</license>
    <keywords>cordova,phonegap,openwith,ios,android</keywords>

    <!-- ios -->
    <platform name="ios">
        <preference name="IOS_URL_SCHEME" />
        <preference name="IOS_UNIFORM_TYPE_IDENTIFIER" />

        <js-module src="www/openwith.js" name="openwith">
            <clobbers target="cordova.openwith" />
        </js-module>

        <!-- Cordova 2.2 -->
        <plugins-plist key="OpenWith" string="OpenWith" />

        <!-- Cordova 2.5+ -->
        <config-file target="config.xml" parent="/*">
            <feature name="OpenWithPlugin">
                <param name="ios-package" value="OpenWithPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="src/ios/OpenWithPlugin.m" />

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>cc.fovea.openwith.$IOS_URL_SCHEME.shareextension</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$IOS_URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <hook type="before_plugin_install" src="hooks/npmInstall.js" />
        <hook type="before_prepare" src="hooks/iosCopyShareExtension.js" />
        <hook type="after_prepare" src="hooks/iosAddTarget.js" />
        <hook type="before_plugin_uninstall" src="hooks/iosRemoveTarget.js" />

        <framework src="MobileCoreServices.framework" />
    </platform>

    <!-- android -->
    <platform name="android">

        <preference name="ANDROID_MIME_TYPE" />
        <preference name="ANDROID_EXTRA_ACTIONS" default=" " />

        <js-module src="www/openwith.js" name="openwith">
            <clobbers target="cordova.openwith" />
        </js-module>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <!-- category android:name="android.intent.category.BROWSABLE" / -->
                <!-- See https://developer.android.com/guide/topics/manifest/data-element.html -->
                <data android:mimeType="$ANDROID_MIME_TYPE" />
                <action android:name="android.intent.action.SEND" />
                $ANDROID_EXTRA_ACTIONS
                <!-- action android:name="android.intent.action.VIEW" / -->
                <!-- action android:name="android.intent.action.SEND_MULTIPLE" / -->
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </config-file>

        <!-- Cordova >= 3.0.0 -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="OpenWithPlugin">
				<param name="android-package" value="cc.fovea.openwith.OpenWithPlugin"/>
			</feature>
            <preference name="AndroidLaunchMode" value="singleTask"/>
        </config-file>

        <!-- cordova plugin src files -->
        <source-file src="src/android/cc/fovea/openwith/OpenWithPlugin.java" target-dir="src/cc/fovea/openwith" />
        <source-file src="src/android/cc/fovea/openwith/PluginResultSender.java" target-dir="src/cc/fovea/openwith" />
        <source-file src="src/android/cc/fovea/openwith/Serializer.java" target-dir="src/cc/fovea/openwith" />
        <source-file src="src/android/cc/fovea/openwith/ByteStreams.java" target-dir="src/cc/fovea/openwith" />
    </platform>

<!--
vim: ts=4:sw=4:et
-->
</plugin>
